In [2]:
from __future__ import print_function, division
import requests
requests.__path__
from bs4 import BeautifulSoup
from collections import defaultdict
import pandas as pd
import numpy as np
import pickle
import random
import time

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [34]:
with open('0_to_299_cumul_ing.pickle', 'rb') as read_file:
    df1 = pickle.load(read_file)

In [35]:
with open('300_to_599_cumul_ing.pickle', 'rb') as read_file:
    df2 = pickle.load(read_file)

In [46]:
df = df1.append(df2)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 13 columns):
name      600 non-null object
rating    600 non-null int64
link      600 non-null object
1         600 non-null int64
2         600 non-null int64
3         600 non-null int64
4         600 non-null int64
5         600 non-null int64
6         600 non-null int64
7         600 non-null int64
8         600 non-null int64
9         600 non-null int64
10        600 non-null int64
dtypes: int64(11), object(2)
memory usage: 61.1+ KB

In [48]:
df['rating'] = pd.to_numeric(df['rating'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 13 columns):
name      600 non-null object
rating    600 non-null int64
link      600 non-null object
1         600 non-null int64
2         600 non-null int64
3         600 non-null int64
4         600 non-null int64
5         600 non-null int64
6         600 non-null int64
7         600 non-null int64
8         600 non-null int64
9         600 non-null int64
10        600 non-null int64
dtypes: int64(11), object(2)
memory usage: 61.1+ KB

In [49]:
df.describe()

,rating,1,2,3,4,5,6,7,8,9,10
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.0
mean,2.403333,15.198333,1.788333,1.723333,0.993333,0.378333,0.213333,0.260000,0.290000,0.010000,0.0
std,1.657881,7.572620,1.767882,2.003367,1.239294,0.884968,0.517947,0.730266,0.465038,0.099582,0.0
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,1.000000,13.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,4.000000,19.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
max,7.000000,53.000000,10.000000,10.000000,6.000000,6.000000,3.000000,6.000000,2.000000,1.000000,0.0

In [50]:
df.columns = ['name', 'rating', 'link', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [51]:
df.head()

,name,rating,link,a,b,c,d,e,f,g,h,i,j
0,Boyzz Only No Nonsense Hair & Body Wash,1,https://www.ewg.org/skindeep/product/707461/Bo...,16,0,0,0,0,0,0,0,0,0
1,Soap for Goodness Sake Babassu Shampoo and Bod...,1,https://www.ewg.org/skindeep/product/701926/So...,2,0,0,0,0,0,0,0,0,0
2,"Soap for Goodness Sake Shampoo and Body Bar, S...",1,https://www.ewg.org/skindeep/product/701976/So...,6,0,0,0,0,0,0,0,0,0
3,Aromatica B5 + Biotin Fortifying Shampoo,1,https://www.ewg.org/skindeep/product/816883/Ar...,26,0,0,0,0,0,0,0,0,0
4,Aromatica Cypress Deep Cleansing Shampoo,1,https://www.ewg.org/skindeep/product/833682/Ar...,28,1,0,0,0,0,0,0,0,0

In [52]:
df.corr()

,rating,a,b,c,d,e,f,g,h,i,j
rating,1.000000,-0.001861,0.516181,0.688094,0.723660,0.625194,0.675353,0.597182,0.848434,0.218218,NaN
a,-0.001861,1.000000,0.354177,0.259035,0.059201,-0.070007,-0.069969,-0.118322,-0.183705,0.072636,NaN
b,0.516181,0.354177,1.000000,0.508541,0.382633,0.282825,0.249949,0.247012,0.310342,0.068941,NaN
c,0.688094,0.259035,0.508541,1.000000,0.603086,0.444269,0.391626,0.316273,0.476908,0.156151,NaN
d,0.723660,0.059201,0.382633,0.603086,1.000000,0.303699,0.358534,0.245414,0.571122,0.081706,NaN
e,0.625194,-0.070007,0.282825,0.444269,0.303699,1.000000,0.617614,0.692256,0.532098,0.070660,NaN
f,0.675353,-0.069969,0.249949,0.391626,0.358534,0.617614,1.000000,0.691721,0.595239,0.282244,NaN
g,0.597182,-0.118322,0.247012,0.316273,0.245414,0.692256,0.691721,1.000000,0.549401,0.101928,NaN
h,0.848434,-0.183705,0.310342,0.476908,0.571122,0.532098,0.595239,0.549401,1.000000,0.117523,NaN
i,0.218218,0.072636,0.068941,0.156151,0.081706,0.070660,0.282244,0.101928,0.117523,1.000000,NaN
j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# X = df.iloc[4:]
# y = df.rating

y, X = patsy.dmatrices('rating ~ b + c + d + e + f + g + h + i + j', data=df, return_type="dataframe") 
model = sm.OLS(y, X)
fit = model.fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 rating   R-squared:                       0.907
Model:                            OLS   Adj. R-squared:                  0.906
Method:                 Least Squares   F-statistic:                     721.1
Date:                Thu, 03 Oct 2019   Prob (F-statistic):          4.02e-299
Time:                        20:26:06   Log-Likelihood:                -441.41
No. Observations:                 600   AIC:                             900.8
Df Residuals:                     591   BIC:                             940.4
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9965      0.031     31.797      0.000       0.935       1.058
b              0.1291      0.014      9.344      0.000       0.102       0.156
c              0.1202      0.015      8.084      0.000       0.091       0.149
d              0.3263      0.023     13.897      0.000       0.280       0.372
e              0.1781      0.036      4.998      0.000       0.108       0.248
f              0.3619      0.064      5.674      0.000       0.237       0.487
g              0.1543      0.046      3.372      0.001       0.064       0.244
h              1.5463      0.066     23.282      0.000       1.416       1.677
i              1.1585      0.222      5.221      0.000       0.723       1.594
j                   0          0        nan        nan           0           0
==============================================================================
Omnibus:                       69.023   Durbin-Watson:                   1.137
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              125.800
Skew:                           0.709   Prob(JB):                     4.82e-28
Kurtosis:                       4.738   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""